/* General styling */
body {
  font-family:Georgia, 'Times New Roman', Times, serif;
  margin: 30px;
}

/* Block Example */ 
.block-menu a {
  display: block;
  background-color: #34dbc5;
  color: rgb(255, 255, 255);
  padding: 10px;
  margin: 5px 0; 
  text-decoration:dashed;
}

/* Inline Example */
.inline-menu a {
  display: inline;
  background-color: #2ecc71;
  color: white;
  padding: 6px;
  margin: 6px;
  text-decoration: none;
}

/* Inline-Block Example */
.inline-block-menu a {
  display: inline-block;
  background-color: #9b59b6;
  color: white;
  padding: 10px 15px;
  margin: 5px;
  text-decoration: none;
}

/* Float Example */
.float-menu a {
  float: left;
  background-color: #e67e22;
  color: white;
  padding: 10px 15px;
  margin: 5px;
  text-decoration: none;
}

.clear {
  clear: both;
}
h1{
    text-align: center;
}